<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage"> 
  <div class="container">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <section class="hero">
      <h1>Executive Venture Coaching</h1>
      <h4>
        Our comprehesive coaching program is tailored for 
        <span class="bolded">US, Canadian, or European-based startup executives</span>
        with a GROWTH mindset who are operating in Education, Sustainablilty, or Health sectors.
        And either:
        <ul>
          <li>has a product at Technology Readiness Level 4-6, and</li>
          <li>looking to break into market with demonstration projects.</li>
        </ul>
        or,
        <ul>
          <li>are post seed/series-A round funding, and</li>
          <li>looking to build a strategy to raise the next round and scale operations.</li>
        </ul>
      </h4>
      <h4>
        At the end of the program, you can expect to have a rigorous understanding of your 
        <span class="bolded">operational playbook</span>, a tailored 
        <span class="bolded">personal productivity system</span>, and clarity of
        <span class="bolded">actionable next steps</span> to your business.
      </h4>
      <hr>
      <h4>
        <span class="bolded">#PayItFW</span>:
        If you are an entrepreneurship student at a major university working on ventures in
        our focus sectors, you may be elligle for large discount on our program. 
        We do this to pay it forward, limited availability, 
        <a href="/contact">contact us</a> to find out more.
      </h4>
    </section>
  </div>
  <div class="tagline-cta">
    <span>We Are Here to Power Your</span>
    <img src="/logo-growth.png"/>
  </div>
  <div class="callout-cta">
    <a class="button-cta" href="/contact">Schedule a Call</a>
  </div>
  <div class="container">
    <section class="hero">
      <h1>Our Process</h1>
      <h4>
        Our tailored venture coaching program starts with a situational understanding,
        then continues to a divergent-incubate-convergent planning process.
      </h4>
      <h2 class="bolded">1. Situational Assessment (2h)</h2>
      <h4>
        All meaningful progress start with situational awareness. Francis works with you to
        understand the current stage of the company, market segment, competitive landscape,
        and obstacles. Then we collaboratively identify the current business playbook and its
        associated set of pain points.
        <ul>
          <li>Disciplined Entrepreneurship framework by Martin Trust Center, MIT</li>
          <li>Playbook analysis using the Ten Types framework by Deloitte.</li>
        </ul>
      </h4>
      <h2 class="bolded">2. Brand Clarity and Focus Workshop (4h)</h2>
      <h4>
        Francis conducts a rigorous, purpose-centric workshop in which we (re)define your
        company, culture, and story to bring clarity to your brand. Existing pain points
        are reassessed in a renewed frame of reference.
        We hold an expansive mindset, and continue to explore possibilities at this stage.
        <ul>
          <li>Market positioning revisited with "why".</li>
          <li>Build detailed customer personas of all relevant segments.</li>
          <li>Revisit competitve landscape, including indirect competition.</li>
          <li>Establish mission statement and unique value proposition.</li>
          <li>Generate playbooks and growth strategies to test.</li>
        </ul>
      </h4>
      <h2 class="bolded">3. Productivty and Knowledge Management Workshop (4h)</h2>
      <h4>
        Francis introduces tools to help manage the influx of new initiatives with focus.
        Here we tweak the detailed implementation of these workflows to suit your situation.
        You may already have some exposure to some of these systems.
        <ul>
          <li>Getting Things Done (GTD), pioneered by David Allen.</li>
          <li>Build a Second Brain (BASB), an extension of Zettlekasten by Tiago Forte.</li>
          <li>Custom journal templates and checklists to reinforce habits.</li>
          <li>Create support systems of accountability.</li>
        </ul>
      </h4>
      <h2 class="bolded">4. Plan and Commit to Next Steps (2h)</h2>
      <h4>
        Convergent session to apply the updated company missions and promising playbooks to
        generate action items for the <span class="bolded">next 90-days</span>. 
        Next actions are committed with your accountability support system.
        We wrap the program with exploration of value-add services that may fit your situation,
        such as:
        <ul>
          <li>Investor introductions and pitch coaching.</li>
          <li>Public-private fund opportunities and grant writing guidance.</li>
          <li>Transformation case study and content opportunities.</li>
        </ul>
      </h4>
    </section>
  </div>
  <div class="tagline-cta">
    <span>We Are Here to Power Your</span>
    <img src="/logo-growth.png"/>
  </div>
  <div class="callout-cta">
    <a class="button-cta" href="/contact">Schedule a Call</a>
  </div>
</div>
{{partial "footer-contact.html" .}}
</body>
</html>
